.items-container {
    padding: 50px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.search-input {
    width: 40%;
    padding: 15px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    height: 30px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.filter-buttons button {
  background-color: #008CBA;
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; 
  font-size: 1rem;
}

.filter-buttons button:hover {
  background-color: #008CBA;
  transform: scale(1.05);
}

.filter-buttons button.active {
  background-color: #45a049;
}

.items-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.items-grid p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  padding: 20px;
  margin: 0 auto;
}