.footer {
    background-color: #2a75bb;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-link {
    color: #ffcb05;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}
