.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #db0b0b;
  height: 45px;
}

.logo h1 {
  font-size: 24px;
  color: #ffcb05;
  cursor: pointer;
  margin: 0;
}

.nav-logo {
  text-decoration: none;
  color: inherit;
}

.nav-logo h1 {
  margin: 0; 
}


.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #ffcb05;
}

.nav-link:hover {
  color: #ffcb05;
}
  